In [2]:
import warnings
warnings.simplefilter('ignore')

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('auto-mpg.data', header=None, sep='  +|\t', na_values = '?')
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
df.head()

,mpg,displacement,horsepower,weight,acceleration,car name,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82,origin_1,origin_2,origin_3
0,18.0,307.0,130.0,3504.0,12.0,"""chevrolet chevelle malibu""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,15.0,350.0,165.0,3693.0,11.5,"""buick skylark 320""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,18.0,318.0,150.0,3436.0,11.0,"""plymouth satellite""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,16.0,304.0,150.0,3433.0,12.0,"""amc rebel sst""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,17.0,302.0,140.0,3449.0,10.5,"""ford torino""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0